@import 'reset';
@import 'variables';

.container{
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.title{
    font-size: rem(44px);
    text-transform: uppercase;
    font-family: 'gotham-medium-webfont', sans-serif;
    font-weight: 400;
    color: $font-color-balck;
    position: relative;
    text-align: center;
    &:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: $font-color-balck;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.hamburger{
    display: none;
}

header{
    width: 100%;
    position: fixed;
    z-index: 9999999;
}

.logo{
    svg{
        fill: $font-color-white;
        width: 240px;
    }
}

.scroll-round{
    width: 40px;
    height: 40px;
    border: 1px solid $font-color-white;
    position: relative;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    &::after{
        content: '';
        position: absolute;
        display: block;
        width: 5px;
        height: 5px;
        border-left: 1px solid $font-color-white;
        border-bottom: 1px solid $font-color-white;
        top: 40%;
        left: 44%;
        transform: rotate(-45deg);
    }
}
.links{
    display: flex;
    justify-content: space-between;
    &-item {
        border: 1px solid rgba($font-color-white, $alpha: .7);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        transition: all .2s;
        margin-right: 20px;
        &:hover{
            border-color: $font-color-balck;
            svg{
                fill: $font-color-balck;
            }
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        svg {
            transition: all .2s;
            fill: $font-color-white;
            transform: translateY(60%);
            width: 16px;
            height: 16px;
        }
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_list{
        display: flex;
        &-item{
            display: inline-block;
            margin-right: 68px;
            text-transform: uppercase;
            &:hover{
                .round{
                    background-color: #fff;
                }
            }
            a{
                font-family: 'GothamBook', sans-serif;
                color: $font-color-white;
                font-size: rem(14px);

            }
            .round{
                display: inline-block;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                border: 1px solid $font-color-white;
                margin-right: 14px;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    
}

.header_slider{
    // height: 100vh;
    max-height: 800px;
    &-item{
        background: url('../images/sliderbackground.png') center center / cover no-repeat;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 370px;
        position: relative;
        
        &-title{
            color: $font-color-white;
            text-transform: uppercase;
            font-family: 'gothambold1', sans-serif;
            font-size: rem(80px);
            margin-bottom: 40px;
        }
        &-description{
            text-transform: uppercase;
            font-size: rem(18px);
            color: $font-color-white;
            font-family: 'GothamBook', sans-serif;
            font-weight: 350;
            letter-spacing: 2.5px;
            margin-bottom: 150px;
        }
    }
}

.Header{
    background: rgb(85, 182, 254);
    background: -moz-linear-gradient(54deg, rgba(85, 182, 254, 0.6026785714285714) 7%, rgba(110, 153, 255, 0.5886729691876751) 50%, rgba(125, 92, 249, 0.6026785714285714) 100%);
    background: -webkit-linear-gradient(54deg, rgba(85, 182, 254, 0.6026785714285714) 7%, rgba(110, 153, 255, 0.5886729691876751) 50%, rgba(125, 92, 249, 0.6026785714285714) 100%);
    background: linear-gradient(54deg, rgba(85, 182, 254, 0.6026785714285714) 7%, rgba(110, 153, 255, 0.5886729691876751) 50%, rgba(125, 92, 249, 0.6026785714285714) 100%);
    backdrop-filter: blur(2px);
}

.mobile-header{
    width: 100%;
    height: 60px;
    padding: 0 10px; 
}

.lSSlideOuter .lSPager.lSpg{
    position: absolute;
    top: 35%;
    right: 2%;
    >li{
        display: block;
        margin-bottom: 40px;
        >a{
            border: 1px solid $font-color-white;
            background: transparent;
            width: 9px;
            height: 9px;
            &:active{
                background: $font-color-white;
            }
            &:hover{
                background: $font-color-white;
            }
            &:focus{
                background: $font-color-white;
            }
        }
        &.active a{
            background: $font-color-white;
        }

    }
    
}

.projects {
    padding: 140px 0 140px;
    text-align: center;
    overflow-x: hidden;
    &_title{
        font-family: 'gothambold1', sans-serif;
        color: $font-color-balck;
        margin-bottom: 100px;
    }
    &_example{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 70px;
        
        &:nth-of-type(1) {
            margin-bottom: 140px;
        }
        &.reverse{
            flex-direction: row-reverse;
            padding-top: 0;
        }
        &-title1{
            font-family: 'GothamBook', sans-serif;
            font-size: rem(22px);
            color: $font-color-balck;
            margin-bottom: 14px;
            text-transform: uppercase;
        }
        &-title{
            font-family: 'gothambold1', sans-serif;
            color: $font-color-balck;
            margin-bottom: 40px;
            font-size: rem(44px);
            text-transform: uppercase;
        }
        &-description{
            font-size: rem(18px);
            color: $font-color-balck;
            font-family: 'Open Sans', sans-serif;
            line-height: 30px;
            margin-bottom: 35px;
        }

    }
    &_text-wrap{
        width: calc(46% - 10px);
        text-align: left;   
        padding: 40px 0 0 60px;
        &.reverse{
            padding: 40px 30px 0 0;
        }
    }
    &_image-wrap{
        width: calc(54% - 10px);
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #55b7ff;
            right: calc(45%);
            bottom: 15%;
            z-index: -1;
        }
        &.reverse::before{
            left: calc(45%);
            background-color: #7e5aff;
        }
    }
    &_location-link{
        font-size: rem(18px);
        color: $font-color-balck;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        svg{
            width: 16px;
            height: 16px;
            fill: $font-color-balck;
        }
    }
}

.btn-more {
    margin-bottom: 60px;
}

.btn{
    display: block;
    width: 100%;
    max-width: 190px;
    height: 50px;
    border: 1px solid $font-color-balck;
    text-align: center;
    text-transform: uppercase;
    font-family: 'GothamBook', sans-serif;
    font-size: rem(14px);
    line-height: 48px;
    color: $font-color-balck;
    transition: all .4s ease-in-out;
    &:hover{
        color: $font-color-white;
        background-color: $font-color-balck;

    }
}

.news{
    background:  center center / cover no-repeat;
    padding-top: 180px;
    text-align: center;
    padding-bottom: 200px;
    position: relative;
    &_slide-controls{
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid rgba($color: $font-color-white, $alpha: .6);
        border-radius: 50%;
        opacity: .5;
        transition: all .2s;
        &:hover{
            opacity: 1;
        }
        &.prev{
            left: 2%;
            top: 54%;
            &:before{
                content: '';
                position: absolute;
                display: block;
                width: 5px;
                height: 5px;
                border-left: 1px solid rgba($color: $font-color-white, $alpha: .6);
                border-bottom: 1px solid rgba($color: $font-color-white, $alpha: .6);
                transform: rotate(45deg);
                top: 43%;
                left: 46%;
            }
        }
        &.next{
            right: 2%;
            top: 54%;
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 5px;
                height: 5px;
                border-left: 1px solid $font-color-white;
                border-bottom: 1px solid $font-color-white;
                transform: rotate(-135deg);
                opacity: .5;
                top: 43%;
                left: 40%;                
            }
        }

    }
    &_title{
        color: $font-color-white;
        margin-bottom: 100px;
        &::before{
            background-color: $font-color-white;
        }
        
    }
    &_list-item{
        height: 514px;
        width: 370px;
        background-color: #fff;
        position: relative;
        &_link{
            display: block;
            height: 240px;
            margin-bottom: 22px;
            position: relative;
            

            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgb(255, 255, 255);
                background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 46%, rgba(0, 0, 0, 0.6306897759103641) 87%);
                background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 46%, rgba(0, 0, 0, 0.6306897759103641) 87%);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 46%, rgba(0, 0, 0, 0.6306897759103641) 87%);
                
                
            }
        }
        &_text-wrap{
            text-align: left;
            padding-left: 22px;
            padding: 0 22px 0 15px;
        }
        &_title{
            text-transform: uppercase;
            font-size: rem(22px);
            color: $font-color-balck;
            font-family: 'gothambold1', sans-serif;
            line-height: 30px;
        }
        &-description{
            height: 65px;
            overflow-y: hidden;
            font-size: rem(18px);
            font-family: 'Open Sans', sans-serif;
            line-height: 30px;
            color: $font-color-balck2;
            position: relative;
            /* &::after{    //ну уж очень ужасно смотрлась эта тень на переполнении в данном случае, поэтому я её убрал и сделал ка на макете
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: rgb(229, 229, 229);
                background: -moz-linear-gradient(180deg, rgba(229, 229, 229, 0) 7%, rgba(196, 199, 199, 0) 26%, rgba(0, 0, 0, 0.3617822128851541) 80%);
                background: -webkit-linear-gradient(180deg, rgba(229, 229, 229, 0) 7%, rgba(196, 199, 199, 0) 26%, rgba(0, 0, 0, 0.3617822128851541) 80%);
                background: linear-gradient(180deg, rgba(229, 229, 229, 0) 7%, rgba(196, 199, 199, 0) 26%, rgba(0, 0, 0, 0.3617822128851541) 80%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#000000", GradientType=1);
                
            } */
        }
        &-author-wrap{
            display: flex;
            align-items: center;
            position: absolute;
            left: 22px;
            bottom: 30px;
            img{
                width: 62px;
                height: 62px;
                margin-right: 20px;
            }
        }
        &-author{
            font-size: rem(18px);
            text-transform: uppercase;
            font-family: 'GothamBook', sans-serif;
            color: $font-color-balck;
            margin-bottom: 14px;
        }
        &-date{
            color: $font-color-blue;
            font-family: 'GothamBook', sans-serif;
            font-size: rem(14px);
        }
    }
    .lSSlideOuter{
        overflow: visible;
        position: relative;
    }
    .lSSlideOuter .lSPager.lSpg {
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%)!important; //Мне пришлось, иначе его никак не перебить=)

        >li {
            display: inline-block;
            margin-right: 40px;

            >a {
                border: 1px solid $font-color-white;
                background: transparent;
                width: 9px;
                height: 9px;

                &:active {
                    background: $font-color-white;
                }

                &:hover {
                    background: $font-color-white;
                }

                &:focus {
                    background: $font-color-white;
                }
            }

            &.active a {
                background: $font-color-white;
            }

        }

    }
}

.gallery{
    padding: 180px 0 140px 0;
    text-align: center;
    &_title{
        color: $font-color-balck;
        margin-bottom: 100px;
        position: relative;
        font-family: 'gotham-medium-webfont', sans-serif;
    }
    &_wrap{
        display: flex;
        // flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 60px;

    }
    &_inner{
        width: calc(50%);
        // max-width: 580px;
        &_second{
            display: flex;
            // justify-content: space-around;
            flex-wrap: wrap;
            gap: 10px;
            width: calc(50%);
            a{                
                // max-width: 285px;
                width: calc(48%);
            }
        }
    }
    .btn-see{
        margin: 0 auto;
    }
}

#map{
    height: 700px;
     
    position: relative;
}

#map_link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($color: #493b3b, $alpha: .7);
    color: $font-color-white;
    text-align: center;
    line-height: 300px;
    font-size: 24px;
    opacity: 0;
    transition: all .1s;
    font-family: "GothamBook", sans-serif;
    text-transform: uppercase;
    &:hover {
        opacity: 1;
    }
}

footer{
    // height: 524px;
    background: center center / cover no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
}

.footer{
    overflow: visible;
    &_wrapper{
        width: 100%;
        max-width: 770px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    &_copy{
        color: $font-color-white;
        font-family: 'GothamBook', sans-serif;
        font-size: rem(14px);
        & span:nth-child(2){
            margin: 10px;
            font-size: rem(20px);
        }
    }
    .links{
        padding-top: 48px;
    }
}

.contact-card{
    width: 100%;
    max-width: 770px;
    background: center center / cover no-repeat;
    padding: 90px 60px 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -56%;
    z-index: 1000;
    box-shadow: 0 6px 50px 0 rgb(0 0 0 / 20%);
    &_title{
        margin-bottom: 56px;
    }
    &_info-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &_list{
        width: calc(50%);
    }
    &_form{
        width: calc(50%);
        text-align: center;
        input{
            width: 100%;
            border: transparent;
            border-bottom: 1px solid #d5d9de;
            color: #d5d9de;
            font-family: 'GothamBook', sans-serif;
            font-size: rem(18px);
            height: 38px;
            padding-bottom: 12px;
            outline: none;
            margin-bottom: 30px;
            &:nth-child(2){
                margin-bottom: 30px;
            }
            &:active, &:focus{
                border-bottom: 1px solid $font-color-balck;
                color: $font-color-balck;
            }
        }
    }
    &_list-item{
        color: $font-color-balck;
        font-family: 'GothamBook', sans-serif,
        sans-serif;
        font-size: rem(18px);
        margin-bottom: 42px;
        &:last-child{
            margin-bottom: 0;
        }
        a{
            color: $font-color-balck;
            font-family: 'GothamBook', sans-serif;
            font-size: rem(18px);
        }
        svg{
            width: 16px;
            height: 16px;
            fill: #7e5aff;
            margin-right: 5px;
        }
    }
    .btn-submit{
        max-width: 140px;
        background: transparent;
        cursor: pointer;
        margin-left: 57%;
        &:hover{
            background: $font-color-balck;
        }
    }
}

@media screen and (max-width: 1100px){
    .header_list{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .news{
        &_slide-controls{
            &.prev{
                top: 85%;
                left: 1%;
            }
            &.next{
                top: 85%;
                right: 1%;
            }
        }
    }
}

@media screen and (max-width: 850px){
    .gallery{
        &_wrap{
            flex-wrap: wrap;
        }
        &_inner{
            width: 100%;
            a{
                width: calc(49%);
            }
        }
    }
    
}

@media screen and (max-width:820px){
    .header_slider{
        &-item{
            padding-top: 270px;
            &-title{
                font-size: rem(60px);
            }
        }
    }
}

@media screen and (max-width: 770px){
    .contact-card{ 
        max-width: 100%;
    }
    .news{
        &_slide-controls{
            &.prev{
                display: none;
            }
            &.next{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 760px){
    .projects {
        &_example {
            flex-direction: column;
        }

        &_image-wrap {
            width: 100%;
        }

        &_text-wrap {
            width: 100%;
        }
    }
    .news{
        .lSSlideOuter .lSPager.lSpg {
            >li {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 670px){
    .contact-card{
        &_title{
            margin-bottom: 10px;
        }
        &_info-wrapper{
            flex-direction: column;
        }
        &_list{
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        &_form{
            width: 100%;
            // text-align: center;
        }
        .btn-submit {
            margin: 0 auto;
        }
    }
    footer{
        padding-top: 400px;
        padding-bottom: 50px;
    }
    .footer_wrapper{
        padding: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 570px){
    header{
        .links{
            display: none;
        }
    }
    .gallery_inner{
        a{
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px){
    .projects{
        &_text-wrap{
            text-align: center;
            padding-left: 0;
            .btn{
                margin: 0 auto 60px;
            }
            &.reverse{
                padding-right: 0;
            }
        }
        &_image-wrap {
            &::before {
                display: none;
            }
            &.reverse::before {
                display: none;
            }
        }
    }
    .header_slider {
        &-item {
            padding-top: 200px;
            &-title {
                font-size: rem(40px);
            }
            &-description{
                font-size: rem(16px);
            }
        }
    }
}

@media screen and (max-width: 455px){
    .news {
        .lSSlideOuter .lSPager.lSpg {

            >li {
                margin-right: 5px;
            }
        }
    }
}